.nav-wrapper {
  background-color: #05612b;
  color: white;
  font-family: 'Audiowide', cursive;
  grid-area: nav;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}